@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0 auto;
}

.exercicio{
   color: blue;
   font-family: arial;
   text-decoration: underline;
   font-size: 32px;
}


.confirm{
    background-color: green;
    color: white;
}

.cancel{
    background-color: red;
    color: white;
}

.limpa{
    background-color: yellow;
    color: black;
}

button{
   width: 50em;
   height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
 
}

.titulo2{
    color: red;
    font-family: "Roboto";
    border: 2px solid purple;
    text-align: center;
    font-size: 48px;
}

img{
    width: 200px;
   display: flex;
   justify-content: center;
   border-radius: 80px;
}